body {
    background: whitesmoke;
    font-family: Consolas, monospace;
}

h1 {
    font-family: Consolas, monospace;
    color:palevioletred;
}

label {
    display: block;
    padding: 5px;
}

button {
    color:white;
    background: palevioletred;
    padding: 5px;
}